@tailwind base;
@tailwind components;
@tailwind utilities;

.inputStyle1 {
  @apply w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500  focus:border-2 sm:text-sm;
}
.ButtonStyle1 {
  @apply bg-mainColor hover:bg-mainColorHover px-10 py-2 rounded-lg text-white  h-fit w-fit;
}

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #2e2d55;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}
